<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="criar.SMSReceiver"
          android:versionCode="1"
          android:versionName="1.0" >
<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="14"/>
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    
    <application>
        <receiver android:name="SmsReceiver"> 
            <intent-filter> 
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter> 
        </receiver>
        <receiver android:name="SmsOutReceiver"> 
            <intent-filter> 
                <action android:name="android.intent.action.SENDTO" />
            </intent-filter> 
        </receiver>
        <receiver android:name="InCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="OutCallReceiver"> 
            <intent-filter> 
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> 
            </intent-filter> 
        </receiver>
    </application>

</manifest>
